@model CompanyListViewModel

@{
    ViewBag.Title = "List of companies";
}

<div class="card">
    <div class="card-header">
        <h3>List of companies</h3>
    </div>
    <div class="card-body">
        <table class="table table-striped table-sm table-bordered">
            <tr>
                <th>Id</th>
                <th>Name(s)</th>
                <th>OrganizationalForm</th>
                <th class="text-center">Actions</th>
            </tr>
            @foreach (var company in Model.Companies)
            {
                <tr>
                    <td>@company.Id</td>
                    <td>@company.Name</td>
                    <td>@company.OrganizationalForm.Name</td>
                    <td class="text-center">
                        <a asp-action="Details" asp-route-id="@company.Id" class="btn btn-secondary">Details</a>
                        <a asp-action="Edit" asp-route-id="@company.Id" class="btn btn-secondary">Edit</a>
                        <form asp-action="Delete" style="display: inline">
                            <input type="hidden" name="id" value="@company.Id" />
                            <input type="submit" class="btn btn-secondary" value="Delete" />
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="card-footer">
        <a asp-action="Add" class="btn btn-secondary">Add a new company</a>
    </div>
</div>